/* Main Content */
a {
    text-decoration: none;
    color: unset;
}

.three-div {
    display: flex;
    column-gap: 20px;

}
.three-div div {
    flex: 1;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.img-card {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.three-div-item p {
    min-height: 3.2em;
    max-height: 3.2em;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Mobile Styles */
@media (max-width: 767px) {
    .three-div {
        flex-direction: column;
        row-gap: 20px;
        margin-top: 20px;
    }

}

/* Tablet Styles */
@media (min-width: 768px) and (max-width: 1367px) {

}